# ARCHIVOS DE LOGS
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# DIRECTORIOS Y ARCHIVOS DEL EDITOR
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
eslint.config.js

# VARIABLES DE ENTORNO (API Keys)
.env
.env.local
.env.production
